[Desktop Entry]
Type=Application
Name=Diskulator
Comment=Inspect, partition, format, and repair storage devices
Exec=/usr/bin/man-diskulator
Icon=com.man.Diskulator
Terminal=false
Categories=System;Utility;
StartupNotify=true
Actions=Help;

[Desktop Action Help]
Name=How to use Diskulator
Exec=/usr/bin/man-help --open --article how-to-use
