[Desktop Entry]
Type=Application
Name=Network
Comment=Manage wired network connections
Exec=/usr/bin/man-network
Icon=network-wired-symbolic
Terminal=false
Categories=Settings;Network;
StartupNotify=true
Actions=Help;

[Desktop Action Help]
Name=Network help
Exec=/usr/bin/man-help --open --article network
