[Desktop Entry]
Type=Application
Name=MAN Guide
Name[af_ZA]=MAN Gids
Name[ar_EG]=دليل MAN
Name[ar_SA]=دليل MAN
Name[az_AZ]=MAN Bələdçisi
Name[bg_BG]=Ръководство за MAN
Name[bn_BD]=MAN নির্দেশিকা
Name[cs_CZ]=Průvodce MAN
Name[da_DK]=MAN-vejledning
Name[de_DE]=MAN-Leitfaden
Name[el_GR]=Οδηγός MAN
Name[eo_EO]=MAN-Gvidilo
Name[en_US]=MAN Guide
Name[en_GB]=MAN Guide
Name[es_ES]=Guía de MAN
Name[es_MX]=Guía de MAN
Name[fa_IR]=راهنمای MAN
Name[fi_FI]=MAN-opas
Name[fr_CA]=Guide MAN
Name[fr_FR]=Guide MAN
Name[he_IL]=מדריך MAN
Name[hi_IN]=MAN गाइड
Name[hr_HR]=MAN vodič
Name[hu_HU]=MAN útmutató
Name[id_ID]=Panduan MAN
Name[it_IT]=Guida MAN
Name[ja_JP]=MANガイド
Name[kk_KZ]=MAN нұсқаулығы
Name[ko_KR]=MAN 가이드
Name[mn_MN]=MAN гарын авлага
Name[mr_IN]=MAN मार्गदर्शक
Name[ms_MY]=Panduan MAN
Name[nl_NL]=MAN-gids
Name[no_NO]=MAN-veiledning
Name[pl_PL]=Przewodnik MAN
Name[pt_BR]=Guia MAN
Name[pt_PT]=Guia MAN
Name[ro_RO]=Ghid MAN
Name[ru_RU]=Руководство MAN
Name[sk_SK]=Sprievodca MAN
Name[sr_RS]=MAN vodič
Name[sv_SE]=MAN-guide
Name[sw_KE]=Mwongozo wa MAN
Name[ta_IN]=MAN வழிகாட்டி
Name[te_IN]=MAN గైడ్
Name[th_TH]=คู่มือ MAN
Name[tl_PH]=Gabay ng MAN
Name[tr_TR]=MAN Kılavuzu
Name[uk_UA]=Посібник MAN
Name[ur_PK]=MAN رہنما
Name[uz_UZ]=MAN qoʻllanmasi
Name[vi_VN]=Hướng dẫn MAN
Name[zh_CN]=MAN 指南
Name[zh_TW]=MAN 指南
Comment=Friendly offline help and error-code explanations
Exec=/usr/bin/man-guide
Icon=com.man.Help
Terminal=false
Categories=System;Utility;Documentation;
StartupNotify=true
