[Desktop Entry]
Name=mpv
Comment=Play video and audio files
Exec=mpv %U
Icon=mpv
Terminal=false
Type=Application
Categories=AudioVideo;Player;Video;Audio;
MimeType=application/mpeg;application/ogg;application/vnd.wav;application/x-mpegurl;application/x-ms-asx;audio/*;video/*;
StartupNotify=true
