[Desktop Entry]
Name=MuPDF
Comment=View PDF, XPS, and e-book documents
Exec=mupdf %f
Icon=mupdf
Terminal=false
Type=Application
Categories=Office;Viewer;
MimeType=application/pdf;application/postscript;application/epub+zip;application/x-mobipocket-ebook;
StartupNotify=true
