[Desktop Entry]
Type=Application
Name=MAN Utilities
Comment=Install, repair, or inspect MAN
Exec=/usr/bin/man-utilities-autostart
Icon=com.man.Utilities
Terminal=false
X-GNOME-Autostart-enabled=true
X-COSMIC-Autostart-enabled=true
