[Desktop Entry]
Type=Application
Name=Welcome to MAN
Comment=Finish setting up this MAN computer
Exec=/usr/bin/man-oobe-autostart
Icon=com.man.OOBE
Terminal=false
X-GNOME-Autostart-enabled=true
X-COSMIC-Autostart-enabled=true
